<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Express</title>
  </head>
  <body>
    {{>header}}
    <section class="home-section">
      <div class="home-section__top-content"> 
        <span id="main-heading">WEATHER INTELIGENSE</span>
        <h3 class="sub-heading">Welcome find your location weather</h3>
        <h4>{{weather}}</h4>
      </div>
    <img class="img-weather" src="images/weather.jpg" alt="images"></img>
    </section>
    {{>footer}}

    <script src="/js/fetchData.js"></script>
  </body>
</html>
